:root {
  --dk-color1: #22272e;
  --dk-color2: blueviolet;
  --dk-color2-1: #b278e8;
  --dk-color3: #711ebf;
  --dk-color4: whitesmoke;
  --dk-color5: #edeae0; /* Alabaster */
  --dk-color6: #5c636a;

  --navbar-height: 9vh;
}
