.Skill-badge {
  display: inline-block;
  background: var(--dk-color2);
  background: linear-gradient(
    310deg,
    var(--dk-color2) 0%,
    var(--dk-color7) 50%,
    var(--dk-color8) 100%
  );
  border-radius: 50%;
  margin: 1rem 0;
  padding: 0;
  height: 100px;
  width: 100px;
  border: 3px solid var(--dk-color1);
}

.Skill-badge .badge-text,
.Skill-badge .circle-text {
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
}

.Skill-badge .badge-text {
  fill: var(--dk-color4);
  font-size: 32pt;
  text-shadow: 0px 3px 4px rgba(34, 39, 46, 0.95);
}

.Skill-badge .circle-text {
  position: relative;
  transform-origin: 148px 148px;
  animation: spin 60s linear infinite;
  font-size: 26pt;
  fill: var(--dk-color5);
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
